/* GRID PROPERTIES */

.container {
    width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 5% 20% 10% 50% 10% 5%;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "nav nav"
    "header header"
    "intro intro"
    "personal work"
    "social social"
    "footer footer" 
}

.nav {
    background-color: #1E88E5;
    grid-area: nav;
}

.header {
    background-color: #512DA8;
    grid-area: header;
}

.intro {
    background-color: #616161;
    grid-area: intro;
}

.work {
    grid-area: work;
}

.personal {
    grid-area: personal;
}

.social {
    background-color: #512DA8;
    grid-area: social; 
}

.footer {
    background-color: #90CAF9;
    grid-area: footer;
}

/* NAVBAR */

ul {
    display: flex;
    justify-content: left;
}

ul li {
    list-style: none;
    margin: 0 5px;
}

li a {
    font-size: 90%;
    color: white;
    text-decoration: none;
    padding: 10px 0 12px 0;
}

a:visited {
    text-decoration: none;
}

li a:hover {
    border-bottom: 2px solid white;
}