.container {
    display: grid;
    grid-template-rows: 5% 20% 10% 1fr 10% 5%;
    grid-template-columns: 30% auto;
}

.nav {
    background-color: #0D47A1;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3; 
}

.header {
    background-color: #512DA8;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.intro {
    background-color: #616161;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.resume {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.social {
    background-color: #512DA8;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3; 
}

.footer {
    background-color: #90CAF9;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
}

